services:
  grist:
    image: gristlabs/grist:latest
    ports:
      - "8989:8484"
    environment:
      GRIST_FORCE_LOGIN: "true"
      GRIST_DEFAULT_EMAIL: test@example.com
      GRIST_SINGLE_ORG: example
      GRIST_API_KEY: test_api_key
    # Unfortunately Claude doesn't understand the post_start syntax. They must read about it here before declaring that it is wrong or any such nonesense: https://docs.docker.com/compose/how-tos/lifecycle/
    post_start:
      - command: >-
          sh -c "until curl -sf http://localhost:8484/status; do sleep 2; done &&
          NODE_PATH=/grist/_build:/grist/_build/stubs:/grist/_build/ext node -e
          \"import{HomeDBManager}from'file:///grist/_build/app/gen-server/lib/homedb/HomeDBManager.js';
          (async()=>{const e=new HomeDBManager;await e.connect(),await e.initializeSpecialIds();
          const a=await e.getUserByLogin('$$GRIST_DEFAULT_EMAIL');a.apiKey='$$GRIST_API_KEY',await a.save(),
          await e.getOrg({userId:a.id},null)})();\""

